canvas {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    // padding-bottom: 10000px;
}

#container {
    height: 500000px;
    display: block;
}

